@use "@phylopic/styles/colors.scss";

.main {
    display: flex;
    flex-direction: column;
    height: 100svh;
    max-height: 100svh;
    min-height: 100svh;
    overflow-y: hidden;
    width: 100%;

    >main {
        box-shadow: inset 0 0 1em 0 colors.$shadow;
    }
}