@use "../../styles/colors.scss";

.main {
    background-color: colors.$dandelion;
    border-radius: 1rem;
    color: colors.$black;
    margin: 1rem 0;
    padding: 1rem;
    text-align: center;
    a {
        color: colors.$ink;
        &:hover {
            color: colors.$black;
        }
    }
}
.variantB {
    background-color: colors.$cerulean;
    color: colors.$white;
    font-weight: bold;
    a {
        color: inherit;
        text-decoration: underline;
        &:hover {
            color: inherit;
            opacity: 0.5;
        }
    }
}
.variantC {
    background-color: colors.$black;
    color: colors.$white;
    a {
        color: inherit;
        font-weight: bold;
        text-decoration: underline;
        &:hover {
            color: inherit;
            opacity: 0.5;
        }
    }
}
