@use "@phylopic/styles/colors.scss";

.main {
    align-items: center;
    background-color: colors.$cerulean;
    color: colors.$white;
    display: flex;
    flex-wrap: wrap;
    font-weight: bold;
    gap: 1em;
    justify-content: space-between;
    padding: 1em;

    @media (max-width: 222px) {
        flex-direction: column;
    }

    a {
        color: inherit;
    }
}

.siteTitle {
    font-family: Georgia, serif;
    font-size: x-large;
    font-weight: normal;
}

.menuButton {
    text-align: right;

    button {
        background: none;
        border: 1.5pt solid colors.$white;
        border-radius: 0.5em;
        color: colors.$white;
        font-weight: bold;
        transition: all 0.3s;

        &:hover {
            background-color: colors.$white;
            color: colors.$deep;
        }
    }
}