@use "@phylopic/styles/colors.scss";

.main {
    align-items: center;
    background-color: colors.$cerulean;
    color: colors.$white;
    display: flex;
    font-size: 21px;
    gap: 2em;
    height: 75px;
    max-height: 75px;
    min-height: 75px;
    overflow: hidden;
    gap: 1em;
    padding: 1em;

    a {
        color: inherit;
    }
}

.title {
    width: 100px;
}

.spacer {
    flex-grow: 1;
}