@use "@phylopic/styles/colors.scss";

.main {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    gap: 4px;
    justify-content: space-between;
    height: 100%;
    padding: 0 0 12px;
    width: 100%;
}

.playArea {
    width: 100%;
}