@use "@phylopic/styles/colors.scss";
@use "@phylopic/styles/mixins/buttons.scss";

.main {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.secondary {
    @include buttons.cta(colors.$ink, colors.$white);
    font-size: smaller;
    padding: 12px;
}

.primary {
    @include buttons.cta(colors.$black, colors.$dandelion);
    font-size: smaller;
    padding: 12px;

    &:disabled {
        @include buttons.cta(colors.$white, colors.$ink);
    }
}