@use "@phylopic/styles/colors.scss";

.main {
    border-radius: 24px;
    border: none;
    cursor: pointer;
    height: 100%;
    padding: min(32px, max(4px, (100vh - 64 * 4 - 96px) / 8)) min(32px, max(4px, (100vw - 64 * 4) / 8));
    transition: all 0.5s;
    width: 100%;

    img {
        transition: all 0.5s;
    }
}

.default {
    background-color: colors.$vellum;
}

.selected {
    background-color: colors.$dandelion;
}

.submitted {
    background-color: colors.$dandelion;

    img: {
        filter: invert(100%);
        mix-blend-mode: lighten;
        opacity: 0.67;
    }
}