@use "@phylopic/styles/colors.scss";

.main {
    align-items: center;
    display: flex;
    gap: 16px;
    justify-content: center;
    margin-bottom: 12px;
}

.message {
    font-size: 18px;
}

.indicators {
    display: inline-flex;
    flex-direction: row-reverse;
    gap: 12px;
}

.indicator {
    transition: all 0.3s;
}

.unavailable {
    color: rgba(0, 0, 0, 0);
}

.available {
    color: colors.$ink;
}