@use "@phylopic/styles/colors.scss";

.indicators {
    display: inline-flex;
    flex-direction: row-reverse;
    gap: 1em;
}

.indicator {
    transition: all 0.3s;
}

.unavailable {
    color: rgba(0, 0, 0, 0);
}

.available {
    color: colors.$ink;
}