@mixin cta($foreground-color, $background-color, $border-color) {
    background-color: $background-color;
    border: 2pt solid $border-color;
    border-radius: 2rem;
    color: $foreground-color;
    cursor: pointer;
    font-size: large;
    font-weight: bold;
    padding: 1rem;
    text-transform: uppercase;
    transition: all 0.3s;

    &:hover {
        background-color: $border-color;
        color: $background-color;
    }
}

@mixin cta-pending {
    cursor: progress;
    opacity: 0.5;

    &:hover {
        background-color: $background-color;
        color: $foreground-color;
    }
}

@mixin text($color, $hover-color) {
    border: none;
    background: none;
    color: $color;
    font-size: 1em;
    margin: 0;
    padding: 0;
    transition: all 0.3s;

    &:hover {
        color: $hover-color;
    }
}
