@mixin item($separator-color) {
    display: inline;

    &::after {
        color: $separator-color;
        content: "/";
        margin: 0 0.25em;
    }

    &:last-of-type::after {
        content: none;
    }
}
