@use "@phylopic/styles/colors.scss";

.main {
    position: relative;
    background-color: colors.$dandelion;
    border-radius: 1em;
    border: none;
    color: colors.$black;
    cursor: pointer;
    font-size: larger;
    font-weight: bold;
    padding: 1em 2em;
    text-align: center;
    text-transform: uppercase;
    transition: background-color 0.3s;

    &:hover {
        background-color: colors.$sunshine;
    }

    &.danger {
        background-color: colors.$black;
        border: 2px solid colors.$dandelion;
        color: colors.$dandelion;
        transition: border-color 0.3s;

        &:hover {
            border-color: colors.$sunshine;
            color: colors.$sunshine;
        }
    }
}

.wait {
    cursor: wait;
}