@use "@phylopic/styles/colors.scss";
@use "@phylopic/styles/mixins/buttons.scss";

.main {
    display: flex;
    flex-grow: 1;
    gap: 2em;
    width: 100vw;
}

.image {
    height: auto;
    object-fit: contain;
    width: auto;
}

.imageButton {
    background-image: url(/assets/grid.png);
    border: 4px solid colors.$dandelion;
    cursor: pointer;
    transition: border-color 0.3s;

    &:hover,
    &:active {
        border-color: colors.$sunshine;
    }
}

.imageContainer {
    background-color: colors.$wash;
    justify-content: space-between;

    &.landscape {
        .image {
            max-height: calc(50vh - 128px);
            max-width: 70vw;
        }
    }

    &.portrait {
        .image {
            max-height: calc(100vh - 256px);
            max-width: 100vw;
        }
    }

    &.compare {
        display: flex;

        &.landscape {
            flex-direction: column;

            .image {
                max-height: calc(50vh - 128px);
                max-width: 50vw;
            }
        }

        &.portrait {
            flex-direction: row;
        }
    }
}