@use "@phylopic/styles/colors.scss";

.main {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.imageContainer {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 1em 1em 0;

    &.compare {
        display: flex;
        gap: 1em;

        &.landscape {
            flex-direction: column;
        }

        &.portrait {
            flex-direction: row;
        }
    }
}