@use "@phylopic/styles/colors.scss";

.main {
    background-color: colors.$ink;
    border: 1px solid colors.$cerulean;
    border-bottom-width: 2px;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    padding: 0.5em 1em 0;
}

.icon {
    color: colors.$white;
    font-weight: bold;
}