.cache
.env
.turbo
apps/**/.next
apps/**/.vercel
coverage
dist
dist-ssr
node_modules
packages/**/dist
packages/**/out
server/dist
public/dist
**/*.log
**/*.tsbuildinfo
**/.editorconfig
**/.env
**/.env.*
**/.vscode
**/.webpack
**/node_modules
