@use "@phylopic/styles/colors.scss";
@use "@phylopic/styles/mixins/hierarchy.scss";

.main {
    align-items: center;
    background-color: colors.$deep;
    color: colors.$white;
    display: flex;
    flex-wrap: wrap;
    font-weight: bold;
    gap: 1rem;
    justify-content: space-between;
    padding: 1rem;

    @media (max-width: 222px) {
        flex-direction: column;
    }

    a {
        color: inherit;
    }
}

.breadcrumbs {
    @include hierarchy.item;
    font-size: xx-large;
}

.menuButton {
    text-align: right;

    button {
        background: none;
        border: 1.5pt solid colors.$white;
        border-radius: 0.5em;
        color: colors.$white;
        font-size: larger;
        font-weight: bold;
        transition: all 0.3s;

        &:hover {
            background-color: colors.$white;
            color: colors.$deep;
        }
    }
}