@use "@phylopic/styles/colors.scss";

.main {
    margin: 0 auto;
    text-align: center;

    >input {
        background-color: colors.$vellum;
        border-radius: 1rem;
        border: none;
        color: colors.$ink;
        font-size: large;
        width: 100%;
        padding: 0.5rem;

        &::placeholder {
            color: colors.$wash;
        }
    }
}

.focused {
    background-color: colors.$white;
    color: colors.$black;
}