@use "@phylopic/styles/colors";

.main {
    display: inline-block;
    min-height: 120px;
}

.caption {
    height: 24px;
    text-align: center;
}

.progress {
    accent-color: colors.$dandelion;
    color: colors.$aquatic;
    width: 128px;
}