@use "@phylopic/styles/colors.scss";
.main {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.imageContainer {
    border: 2px solid colors.$aquatic;
    background-color: colors.$white;
    border-radius: 1rem;
    color: colors.$black;
    padding: 1rem;
}
.image {
    height: auto;
    max-height: calc(50vh - 256px - 4rem);
    object-fit: contain;
    width: calc(50vw - 16px - 4rem);
    @media (min-aspect-ratio: 2/1) {
        max-height: calc(100vh - 128px - 4rem);
        width: calc(25vw - 16px - 4rem);
    }
    @media (max-width: 1200px) {
        max-height: unset;
        min-width: 64px;
        width: calc(100vw - 64px - 2rem);
    }
}
