@use "@phylopic/styles/colors.scss";
@import "@phylopic/styles/globals.scss";
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Roboto:ital,wght@0,400;0,700;1,400&display=swap");

body,
html {
    color: colors.$ink;
}

html {
    background-color: colors.$ink;
}

body {
    background-color: colors.$vellum;
    min-height: 100vh;
    min-width: 250px;
    padding-bottom: 16rem;
}

a {
    color: colors.$cerulean;

    &:hover {
        color: colors.$glacier;
    }
}

figure {
    margin: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

h1,
h2 {
    border-bottom: 1pt solid colors.$ink;
}

h2 {
    border-bottom-width: 0.5pt;
}

hr {
    border-top: 1pt solid colors.$ink;
}

main {
    margin: 0 auto;
    max-width: 11in;
    padding: 1rem;
}

img:not([src]) {
    visibility: hidden;
}