.main {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 143.5px);
    max-height: calc(100vh - 143.5px);
    min-height: calc(100vh - 143.5px);
    overflow-y: auto;
}
