@use "@phylopic/styles/colors.scss";

.container {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    height: 100dvh;
    position: absolute;
    width: 100dvw;
}

.mainContainer {
    @media screen and (min-height: 896px) {
        flex-grow: 1;
        display: flex;
        height: calc(100dvh - 48px);
        place-items: center;
    }

    width: 100dvw;
}

.controls {
    display: flex;
    gap: 0.5em;
    place-items: center;
}

.heading {
    font-size: large;
    font-weight: normal;
    text-align: center;
    width: 100%;
}

.main {
    height: calc(100dvh - 48px);
    margin-left: auto;
    margin-right: auto;
    min-width: 320px;
    min-height: 568px;
    max-height: 896px;
    max-width: 430px;
    width: 100dvw;
}

.nav {
    align-items: center;
    background-color: colors.$cerulean;
    color: colors.$white;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    font-size: 16px;
    height: 48px;
    min-height: 48px;
    max-height: 48px;
    overflow: hidden;
    padding: 2px 8px;
    width: 100dvw;
}

.controls {
    display: flex;
    gap: 8px;
    justify-content: flex-end;
}