.main {
    height: calc((100vw - 768px) * (64 / (1056 - 768)) + 64px);
    object-fit: contain;
    mix-blend-mode: darken;
    max-height: 128px;
    max-width: 128px;
    min-height: 64px;
    min-width: 64px;
    width: calc((100vw - 768px) * (64 / (1056 - 768)) + 64px);
}

.caption {
    font-size: 75%;
}