.main {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 0.5em;

    img {
        filter: invert(100%);
        mix-blend-mode: lighten;
    }
}

.link:hover {
    opacity: 0.5;
}

.unpublished {
    opacity: 0.5;
}

.caption {
    display: block;
    font-size: 75%;
    margin-top: 1em;
    max-width: 128px;
    min-width: 64px;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    width: calc((100dvw - 768px) * (64 / (1056 - 768)) + 64px);
}