@use "../colors.scss";
@mixin cta {
    background-color: colors.$foam;
    border: 2pt solid colors.$aquatic;
    border-radius: 2rem;
    color: colors.$aquatic;
    cursor: pointer;
    font-size: large;
    font-weight: bold;
    padding: 1rem;
    text-transform: uppercase;
    transition: all 0.3s;
    &:hover {
        background-color: colors.$aquatic;
        color: colors.$foam;
    }
}
@mixin cta-pending {
    cursor: progress;
    opacity: 0.5;
    &:hover {
        background-color: colors.$foam;
        color: colors.$aquatic;
    }
}
@mixin text {
    border: none;
    background: none;
    color: colors.$cerulean;
    font-size: 1em;
    margin: 0;
    padding: 0;
    transition: all 0.3s;
    &:hover {
        color: colors.$glacier;
    }
}
