@use "@phylopic/styles/colors.scss";
@use "@phylopic/styles/mixins/bullet.scss";

@mixin list {
    flex-wrap: wrap;

    > li {
        @include bullet.item(colors.$black);
    }
}

.main {
    @include list;
    display: flex;
}

.inline {
    @include list;
    display: inline-flex;
}
