.standard {

    &:hover,
    &:active {
        img {
            filter: invert(26%) sepia(94%) saturate(1845%) hue-rotate(170deg) brightness(93%) contrast(103%);
            transition: filter 0.3s;
        }
    }
}

.inverted {
    img {
        filter: invert(100%);
    }

    &:hover,
    &:active {
        img {
            opacity: 0.75;
            transition: opacity 0.3s;
        }
    }
}