@use "@phylopic/styles/colors.scss";
@use "../../../styles/buttons.scss";

.selectFile {
    align-items: flex-start;
    border: 16px dashed colors.$sunshine;
    border-radius: 32px;
    display: flex;
    flex-direction: column;
    height: calc(100dvh - 150px);
    margin: 2em;
    max-width: 11in;
    padding: 2em;
    justify-content: center;
    transition: all 0.3s;
    width: calc(100% - 4em);

    input[type="file"] {
        display: none;
    }
}

.highlighted {
    border-color: colors.$dandelion;
}

.uploadLabel {
    @include buttons.user;
}

.form {
    display: inline-block;
}