@use "@phylopic/styles/colors.scss";

.main {
    filter: blur(8px);
    height: 128px;
    min-height: 128px;
    min-width: 128px;
    mix-blend-mode: darken;
    position: relative;
    width: 128px;
    transition: color 0.3s, filter 0.3s;

    &>* {
        position: absolute;
        bottom: 0;
        left: 0;
        top: 0;
        right: 0;
    }

    & img {
        object-fit: contain;
    }

    &.loaded {
        filter: none;
    }

    &.pending {
        background-color: colors.$inkFade;
        border-radius: 50%;
    }

    &.error {
        background-color: colors.$dandelion;
        border-radius: 50%;
        color: colors.$black;
        filter: none;
        mix-blend-mode: unset;

        & img {
            opacity: 0;
            visibility: hidden;
        }

        & p {
            align-items: center;
            display: flex;
            font-size: smaller;
            font-weight: bold;
            justify-content: center;
            text-align: center;
            text-transform: uppercase;
        }
    }

    &.small {
        height: 64px;
        min-height: 64px;
        min-width: 64px;
        width: 64px;
    }
}