$aquatic: #42abbc;
$black: #000;
$cerulean: #00809f;
$dandelion: #f5bb00;
$deep: #00857e;
$foam: #c0ffff;
$glacier: #7bbfca;
$ink: #305860;
$inkFade: rgba(48, 88, 96, 0.9);
$marine: #16aba6;
$shadow: rgba(48, 88, 96, 0.1);
$sunshine: #fade85;
$sunshineFade: rgba(250, 222, 85, 0.5);
$vellum: #f7fffb;
$vellumFade: rgba(247, 255, 251, 0.9);
$wash: #94acae;
$white: #fff;
