$aquatic: #3a98a6;
$black: #000;
$blackFade: rgb(0 0 0 / 50%);
$cerulean: #00809f;
$dandelion: #f5bb00;
$deep: #00857e;
$foam: #c0ffff;
$glacier: #7bbfca;
$ink: #305860;
$inkFade: rgb(48 88 96 / 90%);
$marine: #16aba6;
$shadow: rgb(48 88 96 / 10%);
$sunshine: #fade85;
$sunshineFade: rgb(250 222 85 / 50%);
$vellum: #f7fffb;
$vellumFade: rgb(247 255 251 / 90%);
$wash: #94acae;
$white: #fff;