@use "../../styles/mixins/hierarchy.scss";
.main {
    font-size: 1rem;
    > ul {
        display: flex;
        flex-wrap: wrap;
        font-size: smaller;
        > li {
            @include hierarchy.item;
        }
    }
}
