@use "@phylopic/styles/colors.scss";
@use "@phylopic/styles/mixins/bullet.scss";

.main {
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    text-align: center;
    width: 100svw;
}

.content {
    align-items: center;
    background-color: colors.$deep;
    color: colors.$white;
    display: flex;
    flex-wrap: wrap;
    padding: 1em;
    justify-content: center;

    a {
        color: inherit;

        &:hover,
        &:active {
            opacity: 0.5;
        }
    }
}

.item {
    @include bullet.item(colors.$black);

    &::after {
        color: colors.$white;
    }
}

.logos {
    align-items: center;
    display: flex;
    gap: 0.75rem;
}

.optional {
    @media screen and (max-width: 755px) {
        display: none;
    }
}