.main {

    h3 {
        font-weight: normal;
        text-decoration: underline;
    }

    em {
        font-style: normal;
        font-weight: 600;
    }

    p,
    section {
        margin-bottom: 0.5em;
    }

    ul {
        list-style: disc;
    }

    li {
        margin-bottom: 0.25em;
    }
}