.main {
    align-items: center;
    border-radius: 1em;
    display: flex;
    padding: 1em;
}

.content {
    align-items: baseline;
    display: flex;
    flex-wrap: nowrap;
    gap: 1em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    >span {
        overflow: hidden;
        text-overflow: ellipsis;
    }

    >button {
        background: none;
        border: none;
        color: white;
        display: flex;

        &:first-child {
            font-size: inherit;
            justify-content: center;
            text-decoration: underline;
        }

        &:not(:first-child) {
            font-size: 150%;
            line-height: 0.6667;
            width: 1em;
        }

        .light & {
            color: black;

            &:global(.changed) {
                color: red;
            }
        }
    }

    >input {
        border: none;

        &:focus {
            outline: none;
        }
    }
}

.dark {
    background-color: black;
    color: white;

    &:global(.changed) {
        background-color: red;
    }
}

.light {
    background-color: white;
    border: 2px solid black;
    color: black;

    &:global(.changed) {
        border-color: red;
        color: red;
    }
}