@use "@phylopic/styles/colors.scss";
.main {
    width: 96px;
    figcaption {
        display: flex;
        padding: 0;
    }
    progress {
        margin: 0;
        &[value] {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            &::-webkit-progress-bar, &::-moz-progress-bar {
                background-color: colors.$wash;
            }
            &::-webkit-progress-value, &::-moz-progress-value {
                background-color: colors.$white;
            }
        }
    }
}