@use "@phylopic/styles/colors.scss";
@use "@phylopic/styles/mixins/buttons.scss";

@mixin user-base {
    align-items: center;
    display: inline-flex;
    font-size: inherit;
    font-weight: normal;
    justify-content: center;
    max-width: 4in;
    padding: 0.5em 1em;
    text-align: center;
    text-transform: none;

    img {
        transition: filter 0.3s;
    }
}

@mixin user {
    @include buttons.cta(colors.$black, colors.$dandelion, colors.$dandelion);
    @include user-base;

    &:hover {
        background-color: colors.$sunshine;
        border-color: colors.$sunshine;
        color: colors.$ink;

        img {
            filter: invert(30%) sepia(48%) saturate(364%) hue-rotate(142deg) brightness(92%) contrast(94%);
        }
    }
}

@mixin user-danger {
    @include buttons.cta(colors.$dandelion, colors.$black);
    @include user-base;

    img {
        filter: invert(52%) sepia(97%) saturate(612%) hue-rotate(14deg) brightness(113%) contrast(103%);
    }

    &:hover {
        background-color: #600000;
        border-color: colors.$sunshine;
        color: colors.$sunshine;

        img {
            filter: invert(84%) sepia(50%) saturate(355%) hue-rotate(349deg) brightness(97%) contrast(102%);
        }
    }
}