$ink: #305860;
$inkFade: rgba(48, 88, 96, 0.9);
$wash: #94acae;
$vellum: #f7fffb;
$vellumFade: rgba(247, 255, 251, 0.9);
$black: #000;
$white: #fff;
$pine: #60a090;
$cerulean: #0080a0;
$glacier: #7bbfca;
$aquatic: #42abbc;
$foam: #c0ffff;
$dandelion: #f5bb00;
$sunshine: #fade85;
