@use "@phylopic/styles/colors.scss";
@use "@phylopic/styles/mixins/buttons.scss";
@import "@phylopic/styles/globals.scss";
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Roboto:ital,wght@0,400;0,700;1,400&display=swap");

body {
    background-color: colors.$ink;
    min-width: 380px;
}

body,
html {
    color: colors.$white;
    margin: 0;
    padding: 0;

    @media (max-width: 1200px) {
        font-size: medium;
    }
}

html {
    background-color: colors.$cerulean;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-block-start: 0;
    margin-block-end: 0;
}

main {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    font-size: x-large;
    height: 100%;
    justify-content: center;

    @media (max-width: 1200px) {
        font-size: large;
    }

    @media (max-width: 768px) {
        font-size: medium;
    }
}