@use "@phylopic/styles/colors.scss";

.site {
    left: 0;

    @media screen and (max-width: 392px) {
        left: unset;
        right: 0;
    }
}

.file {
    left: 133px;

    @media screen and (max-width: 525px) {
        left: unset;
        right: 0;
    }
}

.edit {
    left: 228px;

    @media screen and (max-width: 615px) {
        left: unset;
        right: 0;
    }
}

.view {
    left: 328px;

    @media screen and (max-width: 720px) {
        left: unset;
        right: 0;
    }
}

.account {
    right: 0;
}

.main {
    background-color: colors.$white;
    border: 1px solid colors.$cerulean;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    border-top: none;
    color: colors.$ink;
    display: flex;
    filter: drop-shadow(0 1em 1em colors.$shadow);
    font-size: 21px;
    font-weight: normal;
    flex-direction: column;
    max-width: 100svw;
    max-height: 100svh;
    min-width: 10em;
    overflow: auto;
    padding: 1em;
    position: fixed;
    top: 75px;
    width: 392px;
    z-index: 10;

    @media screen and (max-width: 392px) {
        left: 0;
        right: 0;
    }

    a {
        color: colors.$cerulean !important;

        &:hover {
            opacity: 0.5;
        }
    }

    h2 {
        color: colors.$black;
        font-size: larger;
        font-family: Georgia, serif;
        font-variant: small-caps;
    }

    ul {
        display: flex;
        flex-direction: column;
        gap: 1em;
        list-style: none;
    }
}