@use "@phylopic/styles/colors.scss";

.main {
    border-radius: 24px;
    border: none;
    cursor: pointer;
    height: fit-content;
    padding: 12px;
    transition: all 0.3s;
    width: fit-content;

    img {
        transition: all 0.3s;
    }
}

.default {
    background-color: colors.$vellum;

    &:hover {
        background-color: colors.$ink;

        img {
            filter: invert(100%);
            mix-blend-mode: lighten;
        }
    }

    &:active {
        background-color: colors.$dandelion;
    }
}

.selected {
    background-color: colors.$sunshine;
}

.submitted {
    background-color: colors.$dandelion;

    img: {
        opacity: 0.67;
    }
}