@use "@phylopic/styles/colors.scss";
@use "@phylopic/styles/mixins/buttons.scss";

.main {
    align-items: center;
    display: flex;
    gap: 1em;
    margin-left: auto;
    margin-right: auto;
}

.error {
    background-color: colors.$sunshine;
    border-radius: 1em;
    color: colors.$ink;
    padding: 1em;
}

.cta {
    @include buttons.cta(colors.$black, colors.$dandelion);
}