@use "@phylopic/styles/colors.scss";

.indicators {
    display: inline-flex;
    gap: 1em;
}

.indicator {
    transition: all 0.3s;
}

.unavailable {
    color: colors.$ink;
}

.available {
    color: colors.$wash;
}