@use "@phylopic/styles/colors.scss";

.main {
    background-image: url(/assets/grid.png);
    display: flex;
    border: 4px solid colors.$dandelion;
    height: min-content;
    cursor: pointer;
    transition: border-color 0.3s;
    width: min-content;

    &:hover,
    &:active {
        border-color: colors.$sunshine;
    }

    img {
        height: auto;
        max-height: 67vh;
        max-width: calc(100dvw - 4em);
        min-height: 256px;
        min-width: 256px;
        mix-blend-mode: darken;
        object-fit: contain;
        width: auto;
    }
}

.landscape {
    img {
        max-height: 40vh;
    }
}