@use "@phylopic/styles/colors.scss";

.main {
    background-image: url(/assets/grid.png);
    border: 4px solid colors.$dandelion;
    max-width: calc(100vw - 2em);
    margin-top: 1em;
    transition: border-color 0.3s;
    position: relative;

    img {
        mix-blend-mode: darken;
        object-fit: contain;
    }
}