@use "@phylopic/styles/colors.scss";

.main {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.row {
    background-color: colors.$white;
    border-radius: 2em;
    border: 1.5pt solid colors.$black;
    color: colors.$black;
    padding: 1em;
    text-align: center;
    transition: all 0.3s;
}

.node {
    margin-bottom: 1em;
    text-align: center;
}

.images {
    display: flex;
    justify-content: space-around;
}