.main {
    padding: 0.5em;

    &.empty {
        @media (any-hover: none) {
            display: none
        }
    }
}

.optional {
    @media screen and (max-width: 480px) {
        display: none;
    }
}

.optional2 {
    @media screen and (max-width: 400px) {
        display: none;
    }
}