@use "@phylopic/styles/colors.scss";

.main {
    background-color: colors.$ink;
    bottom: 68.5px;
    border-top: 1px solid colors.$vellum;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    color: colors.$white;
    left: 0;
    overflow: clip;
    position: fixed;
    right: 0;
    text-align: center;
}

.toggle {
    background-color: colors.$cerulean;
    color: colors.$foam;
    display: block;

    &:hover {
        background-color: colors.$aquatic;
        color: colors.$white;
        transition: all 0.3s;
    }
}