@use "@phylopic/styles/colors.scss";
@use "../../styles/buttons.scss";

.main {
    background-color: colors.$white;
    border-radius: 1em;
    border: 2px solid colors.$black;
    color: colors.$black;
    font-size: inherit;
    padding: 0.5em;
    width: 100%;

    @media (max-width: 1200px) {
        font-size: x-large;
    }

    @media (max-width: 768px) {
        font-size: large;
    }

    &::placeholder {
        color: rgba(0, 0, 0, 0.5);
        font-style: italic;
        font-weight: normal;
        text-align: center
    }

    &[type=submit] {
        @include buttons.user;
        width: unset;
    }
}