@use "@phylopic/styles/colors.scss";
@use "../../styles/buttons.scss";

.main {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.input {
    background-color: colors.$white;
    border-radius: 1em;
    border: 2px solid colors.$black;
    color: colors.$black;
    flex-grow: 1;
    font-size: inherit;
    padding: 0.5em;
    width: 100%;

    @media (max-width: 1200px) {
        font-size: x-large;
    }

    @media (max-width: 768px) {
        font-size: large;
    }

    &::placeholder {
        color: rgba(0, 0, 0, 0.5);
        font-style: italic;
        font-weight: normal;
        text-align: center
    }

    &[type=submit] {
        @include buttons.user;
        width: unset;
    }

    &.withSubmit {
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
    }
}

.submit {
    @include buttons.user-inline;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    width: unset;
}