 @use "@phylopic/styles/colors.scss";

 .main {
     display: flex;
     flex-wrap: wrap;
     gap: 1em;
     justify-content: center;
     padding: 1em 2em;

     a:hover {
         opacity: 0.75;
         transition: opacity 0.3s;
     }

     img {
         filter: invert(100%);
     }
 }