 @use "@phylopic/styles/colors.scss";

 .main {
     display: flex;
     flex-wrap: wrap;
     gap: 1em;
     justify-content: center;
     max-height: 50vh;
     overflow: auto;
     padding: 1em 2em;

     img {
         filter: invert(100%);
     }

     a {
         color: colors.$glacier;
         cursor: pointer;
     }

     a:hover {
         color: colors.$sunshine;
         transition: color 0.3s;

         img {
             opacity: 0.75;
             transition: opacity 0.3s;
         }
     }

 }