@use "@phylopic/styles/colors.scss";
@use "@phylopic/styles/mixins/bullet.scss";
.header {
    white-space: nowrap;
}
.list {
    display: flex;
    flex-wrap: wrap;
}
.item {
    @include bullet.item(colors.$black);
}
