@use "@phylopic/styles/colors.scss";
@use "@phylopic/styles/mixins/buttons.scss";
.main {
    display: flex;
    gap: 2rem;
}
.image {
    background-color: colors.$vellum;
    background-image: url(/assets/grid.png);
    border: 1px solid colors.$dandelion;
    height: auto;
    object-fit: contain;
    position: relative;
    width: auto;
}
.imageContainer {
    flex-grow: 1;
    &.landscape {
        .image {
            max-height: none;
            max-width: 75vw;
        }
    }
    &.portrait {
        .image {
            max-height: calc(100vh - 182px);
            max-width: none;
        }
    }
    &.compare {
        display: flex;
        gap: 1rem;
        &.landscape {
            flex-direction: column;
            .image {
                max-height: calc(50vh - 82px - 1rem);
                max-width: none;
            }
        }
        &.portrait {
            flex-direction: row;
        }
    }
}
