@use "@phylopic/styles/colors.scss";
@use "@phylopic/styles/mixins/bullet.scss";
@use "@phylopic/styles/mixins/hierarchy.scss";

@mixin bullet-items {
    flex-wrap: wrap;

    .item {
        @include bullet.item(colors.$black);
    }
}

.inline {
    @include bullet-items;
    display: inline-flex;
}

.list {
    @include bullet-items;
    display: flex;
    justify-content: center;
}

.lineage {
    @include bullet-items;
    display: inline-flex;

    .item {
        @include hierarchy.item;
    }
}
