@use "@phylopic/styles/colors.scss";
@use "@phylopic/styles/mixins/bullet.scss";

.main {
    background-color: colors.$white;
    border-bottom: 1px solid colors.$cerulean;
    border-left: 1px solid colors.$cerulean;
    border-bottom-left-radius: 1rem;
    color: colors.$ink;
    display: flex;
    filter: drop-shadow(-10px 10px 10px colors.$shadow);
    font-weight: normal;
    flex-direction: column;
    max-width: 100vw;
    max-height: 100vh;
    min-width: 10rem;
    overflow: scroll;
    padding: 1rem;
    position: fixed;
    right: 0;
    top: 0;
    width: 500px;
    z-index: 1;

    @media screen and (max-width: 500px) {
        border-bottom-left-radius: 0;
        height: 100vh;
    }

    a {
        color: colors.$cerulean  !important;
        font-weight: normal;

        &:hover {
            opacity: 0.5;
        }
    }

    h2 {
        border-bottom: none;
        color: colors.$ink;
        font-size: 1.1rem;
        margin: 0 0 0.5rem;
    }

    section {
        border-bottom: 0.5px solid colors.$inkFade;
        margin: 0 0 1rem;
        padding: 0 0 1rem;

        &:last-of-type {
            border-bottom: none;
            margin: 0;
            padding: 0;
        }

        ul {
            display: flex;
            flex-wrap: wrap;

            >li {
                @include bullet.item(colors.$black);
            }
        }
    }
}

.menuButton {
    font-weight: bold;
    text-align: right;

    button {
        background: none;
        border: 1.5pt solid colors.$cerulean;
        border-radius: 0.5em;
        color: colors.$cerulean;
        font-weight: bold;
        transition: all 0.3s;

        &:hover {
            background-color: colors.$cerulean;
            color: colors.$white;
        }
    }
}

.siteLink {
    margin: 0 0 1.4rem;

    a {
        font-size: 1.4rem;
    }
}

.siteTitle {
    font-family: Georgia, serif;
}

.subheader {
    color: colors.$wash;
    font-size: smaller;
}