@use "../../styles/mixins/buttons.scss";
.button {
    @include buttons.text;
    display: block;
    text-align: right;
}
.controls {
    align-items: baseline;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
