.buttons {
    justify-content: flex-end;
    display: flex;
    gap: 0.5rem;
    margin: 0;

    .main-level-1 & {
        margin-top: -1.4rem;
    }

    .main-level-2 & {
        margin-top: -1.28rem;
    }
}
