@use "@phylopic/styles/colors.scss";

.main {
    align-items: stretch;
    background-color: colors.$cerulean;
    display: inline-flex;
    gap: -1px;
    margin: 0;
    justify-content: flex-start;
    width: 100%;
}